﻿@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row mb-3 mt-3" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center fw-bold">Platinum Palace Hotel</h1>
    </section>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Content/imgs/sfondo2.jpg" class="d-block w-100" alt="Wild Landscape" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo3.jpg" class="d-block w-100" alt="Exotic Fruits" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo4.jpg" class="d-block w-100" alt="Exotic Fruits" style="max-height: 60vh; object-fit: cover;" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/imgs/sfondo5.jpg" class="d-block w-100" alt="Exotic Fruits" style="max-height: 60vh; object-fit: cover;" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="d-flex justify-content-center flex-column mt-3 conteiner">
        <h2 class="text-center mt-3 mb-3">Chi Siamo</h2>
        <p style="padding: 0 4em 0 4em">
            L’Hotel Platinum Palace è un cinque stelle. È progettato sia per gli ospiti individuali che per quelli d’affari.
            L’hotel offre tre sale ristorante, un bar Insomnia, una sala biliardo, una zona benessere e una SPA.
            Per gli ospiti, l’Hotel Platinum Palace offre tre sale nel Platinum Restaurant.
            Avrete anche accesso al bar Insomnia, dove potrete assaggiare distillati e una selezione di vini scelti dal nostro sommelier.
            Inoltre, gli ospiti possono usufruire di una sala biliardo, della zona benessere e della SPA.
        </p>
        <p style="padding: 0 4em 0 4em">
            La Direzione
        </p>
    </div>
</main>